services:
  _defaults:
    autoconfigure: true
    autowire: true
    public: false

  Shopware\WebInstaller\:
    resource: '../../{Listener,Services}'

  Shopware\WebInstaller\Controller\:
    resource: '../../Controller'
    public: true
    tags: [ 'controller.service_arguments' ]

parameters:
  shopware.installer.supportedLanguages:
    cs:
      id: cs-CZ
      label: Čeština
    da-DK:
      id: da-DK
      label: Dansk
    de:
      id: de-DE
      label: Deutsch
    en-US:
      id: en-US
      label: English (US)
    en:
      id: en-GB
      label: English (UK)
    es-ES:
      id: es-ES
      label: Español
    fr:
      id: fr-FR
      label: Français
    it:
      id: it-IT
      label: Italiano
    nl:
      id: nl-NL
      label: Nederlands
    no:
      id: nn-NO
      label: Norsk
    pl:
      id: pl-PL
      label: Język polski
    pt-PT:
      id: pt-PT
      label: Português
    sv-SE:
      id: sv-SE
      label: Svenska