name: Integration

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: composer install
      - name: Build phar
        run: composer run build-phar
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # 4
        with:
          name: installer-phar
          path: shopware-installer.phar.php
          retention-days: 1

  tested-update-versions:
    name: tested-versions
    runs-on: ubuntu-24.04
    outputs:
      first-version: ${{ steps.versions.outputs.first-version }}
      latest-version: ${{ steps.versions.outputs.latest-version }}
      lts-first-version: ${{ steps.versions.outputs.lts-first-version }}
      lts-latest-version: ${{ steps.versions.outputs.lts-latest-version }}
    steps:
      - name: Generate versions
        id: versions
        uses: shopware/github-actions/versions@main

  acceptance-update:
    needs: [build, tested-update-versions]
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        update:
          - version: ${{ needs.tested-update-versions.outputs.lts-latest-version }}
            type: lts-latest
          - version: ${{ needs.tested-update-versions.outputs.first-version }}
            type: first
          - version: ${{ needs.tested-update-versions.outputs.latest-version }}
            type: latest
    env:
      SHOPWARE_HTTP_CACHE_ENABLED: 0
      BLUE_GREEN_DEPLOYMENT: 1
      SHOPWARE_DISABLE_UPDATE_CHECK: "0"
      SHOPWARE_UPDATE_FROM: ${{ matrix.update.version }}
      SW_RECOVERY_NEXT_VERSION: "6.7.9999999.9999999"
      SW_RECOVERY_NEXT_BRANCH: "6.7.9999999.9999999"
      SW_RECOVERY_REPOSITORY: '{"type": "path", "url": "${{ github.workspace }}/new-shopware/src/*", "options": { "symlink": true } }'
    steps:
      - name: Create shopware dirs
        run: mkdir -p old-shopware new-shopware
      - name: Setup new Shopware
        uses: shopware/setup-shopware@main
        env:
          COMPOSER_ROOT_VERSION: 6.7.9999999-dev
        with:
          shopware-version: "trunk"
          install-admin: true
          env: dev
          path: new-shopware

      - name: Cache Storefront npm packages
        uses: actions/cache@v4
        with:
          path: new-shopware/src/Storefront/Resources/app/storefront/node_modules
          key: ${{ runner.os }}-storefront-${{ hashFiles('new-shopware/src/Storefront/Resources/app/storefront/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-storefront-

      - name: Build new shopware
        working-directory: new-shopware
        run: |
          composer run npm:storefront ci
          composer run npm:storefront run production
          (cd src/Storefront/Resources/app/storefront && node copy-to-vendor.js)

          composer -d src/Core config version ${SW_RECOVERY_NEXT_VERSION}
          composer -d src/Administration config version ${SW_RECOVERY_NEXT_VERSION}
          composer -d src/Storefront config version ${SW_RECOVERY_NEXT_VERSION}
          composer -d src/Elasticsearch config version ${SW_RECOVERY_NEXT_VERSION}

      - name: Checkout template
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 4
        with:
          repository: shopware/production
          path: old-shopware

      - name: Configure project root
        run: |
          echo "PROJECT_ROOT=${{ github.workspace }}/old-shopware" >> "$GITHUB_ENV"

      - name: Require shopware
        working-directory: old-shopware
        run: |
          # Note: We expect to see vulnerabilities in the older versions we're using here.
          jq '.config.audit = { "block-insecure": false }' composer.json > composer.json.new
          mv composer.json.new composer.json

          composer require shopware/core:${{ matrix.update.version }}

      - name: Install
        working-directory: old-shopware
        run: |
          sed -i -e "s/shopware.store.frw: '1'/shopware.store.frw: '0'"/ config/services.yaml
          bin/console system:install --basic-setup --drop-database --create-database

      - name: Download WebInstaller
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # 4
        with:
          name: installer-phar
          path: old-shopware/public

      - name: Start web server
        working-directory: old-shopware
        run: symfony server:start -d

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # 4
        with:
          node-version: 22

      - name: Install dependencies
        working-directory: new-shopware/tests/acceptance
        run: npm ci

      - name: Refresh Package List
        run: sudo apt-get update --allow-releaseinfo-change

      - name: Install Playwright Browsers
        working-directory: new-shopware/tests/acceptance
        run: npx playwright install --with-deps chromium
      - name: Debug
        working-directory: new-shopware/tests/acceptance
        run: ls
      - name: Run update tests
        working-directory: new-shopware/tests/acceptance
        run: npx playwright test --project=Update --trace=on

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # 4
        if: always()
        with:
          name: playwright-report-update-${{ matrix.update.type }}-${{ matrix.update.version }}
          path: new-shopware/tests/acceptance/test-results/
          retention-days: 3
