name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      attestations: write
      artifact-metadata: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          ini-values: phar.readonly=0

      - name: Install dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Build PHAR
        run: composer build-phar

      - name: Attest Build Provenance
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: shopware-installer.phar.php

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: shopware-installer.phar.php
